html {
  font-family: 'Roboto', sans-serif;
}


/* HEADER */
/*  *** - Code For Sticky Top-Menu */
header {
  position: relative;
  /* * */
  height: 50px;
}

nav {
  /* * */
  position: fixed;
  width: 100%;
  z-index: 2;
  /* * */
  height: 50px;
  background-color: #212121;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
}

.menu .menu_item {
  border-right: 2px dotted black;
  padding-right: 28px;
}

.menu .menu_item:last-child {
  border-right: none;
}

.menu .menu_link {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
}


/* SUB_HEADER */
.subheader {
  position: absolute;
  /* * */
  top: 50px;
  
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, .6);
  /* BG Has Opacity BUT NOT Content */
}

/* 1-st COL */
.subheader .subheader_logo {
  display: block;
  /* For Margins & Paddings (a - InLine Elem) */
  max-width: 100%;
  /* If LoboImg Will Change - Evrthing Will Be Ok */
  margin-top: 16px;
}

.subheader .subheader_official {
  margin-top: 6px;
  opacity: 0.5;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
}

/* 2-nd COL */
.subheader .subheader_call {
  text-align: right;
  margin-top: 19px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
}

.subheader .subheader_phone {
  display: block;
  margin-top: 8px;

  text-align: right;
  line-height: 12px;

  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
}

/* 3-d COL */
.subheader .subheader_btn {
  min-width: 172px;
  min-height: 46px;

  display: block;
  margin-top: 19px;
  padding: 0 15px;

  cursor: pointer;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);

  border: none;
  border-radius: 4px;
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);

  color: #fff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}


/* 1-st SECTION */
.promo {
  min-height: 800px;
  background: url(../img/bg/main_bg.jpg) center center/cover no-repeat;
  padding: 150px 0 135px 0;
}

.promo .promo_header {
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 60px;
  /*WithOut It Header Took More Place Than Has Content Inside */
  margin: 0;
  /* To ReWrite BootStrap-ReBoot Css Rules */
  text-align: center;
}

.promo .promo_subheader {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 36px;
  /*WithOut It Header Took More Place Than Has Content Inside */
  margin: 0;
  /* To ReWrite BootStrap-ReBoot Css Rules */
  margin-top: 22px;
  text-align: center;
}

.promo .promo_descr {
  margin-top: 23px;
  color: #fff;
  font-size: 19px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.promo .promo_btn {
  display: block;
  margin: 118px auto 0 auto;

  min-width: 259px;
  min-height: 63px;

  box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}